<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GNAUpdaterSDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <applicationSettings>
  </applicationSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_IDeviceStorage">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="Certificate" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="CustomBinding_IApplicationUpdate">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="Certificate" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://vxi-bp.sde.mera.com/DeviceStorageService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IDeviceStorage"
                contract="GNADeviceDbServiceReference.IDeviceStorage" name="CustomBinding_IDeviceStorage" />
            <endpoint address="https://vxi-bp.sde.mera.com/DeviceStorageService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IApplicationUpdate"
                contract="GNADeviceDbServiceReference.IApplicationUpdate"
                name="CustomBinding_IApplicationUpdate" />
        </client>
    </system.serviceModel>
</configuration>